{% extends "base.html" %}
{% block title %}Страница аписи. Автор: {{ author.get_full_name }}{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            {% include "includes/profile_card.html" with author=author following=following followers_sum=followers_sum  following_sum=following_sum %}
        </div>
        {% include "includes/post_item.html" with post=post %}
        {% include "includes/add_post_comment_form.html" with form=form %}
        {% include "includes/comments.html" with items=items post=post form=form %}
    </main>
{% endblock %}