{% extends "base.html" %}
{% block title %}Страница аписи. Автор: {{ author.get_full_name }}{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="h2">
                            {{ author.get_full_name }}
                        </div>
                        <div class="h3 text-muted">
                             @{{ author.get_username }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                            Подписчиков: XXX <br />
                            Подписан: XXX
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Записей: {{ post_sum }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% include "includes/post_item.html" with post=post %}
        {% include "includes/add_post_comment_form.html" with form=form %}
        {% include "includes/comments.html" with items=items post=post form=form %}
    </main>
{% endblock %}